<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %></p>
  <p><%= dose.description %></p>
<% end %>

<% @cocktail.image.each do |image| %>
  <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
<% end %>


<%= link_to "Back", root_path, class: "btn btn-primary btn-sm" %>
